body{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size:24px;
}

h1{

    text-align:center;
}
img{
    height:auto;
    width:300px;
}


#FoodRecipe li a{
    color:black;
}

p{
    color:gray ;
    font-size: 20px;
}

ul, ol{
    color:gray ;
    font-size: 20px;
}